
.products-button{
    -fx-background-image: url("images/products.png");
    }

.transport-button{
    -fx-background-image: url("images/transport.png");
    }

.residence-button{
    -fx-background-image: url("images/residence.png");
    }

.health-button{
    -fx-background-image: url("images/health.png");
    }

.cafe-button{
    -fx-background-image: url("images/cafe.png");
    }

.presents-button{
    -fx-background-image: url("images/presents.png");
    }

.leisure-button{
    -fx-background-image: url("images/leisure.png");
    }

.clothes-button{
    -fx-background-image: url("images/clothes.png");
    }